In [2]:
import pandas as pd

In [4]:
dish = pd.read_csv("../raw_data/Dish.csv.gz", compression='gzip')

In [6]:
def freq(df, col):
    x = df.pivot_table(index=col, values='highest_price', aggfunc=[len])
    print(x.sort_values(by=('len', 'highest_price'), ascending = False))

In [8]:
dish.describe()

,id,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
count,423397.000000,0.0,423397.000000,423397.000000,423397.000000,423397.000000,394297.000000,394297.000000
mean,264456.594900,NaN,3.060489,3.146794,1675.514555,1679.299738,0.965265,1.603875
std,150489.070889,NaN,27.818178,29.962122,651.321461,651.934580,6.714564,12.696274
min,1.000000,NaN,0.000000,-6.000000,0.000000,0.000000,0.000000,0.000000
25%,132374.000000,NaN,1.000000,1.000000,1900.000000,1900.000000,0.000000,0.000000
50%,269636.000000,NaN,1.000000,1.000000,1914.000000,1917.000000,0.000000,0.000000
75%,397135.000000,NaN,1.000000,1.000000,1949.000000,1955.000000,0.400000,0.600000
max,515677.000000,NaN,7740.000000,8484.000000,2928.000000,2928.000000,1035.000000,3050.000000

In [9]:
dish.head()

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
0,1,Consomme printaniere royal,NaN,8,8,1897,1927,0.20,0.4
1,2,Chicken gumbo,NaN,111,117,1895,1960,0.10,0.8
2,3,Tomato aux croutons,NaN,13,13,1893,1917,0.25,0.4
3,4,Onion au gratin,NaN,41,41,1900,1971,0.25,1.0
4,5,St. Emilion,NaN,66,68,1881,1981,0.00,18.0

In [10]:
freq(dish,'id')

                 len
       highest_price
id
1                1.0
355958           1.0
355968           1.0
355967           1.0
355966           1.0
...              ...
176414           1.0
176413           1.0
176411           1.0
176410           1.0
515677           1.0

[423397 rows x 1 columns]

In [11]:
freq(dish,'name')

                                                             len
                                                   highest_price
name
Flasche Staatl. Fachingen                                    2.0
Brandy, Mounie F.O.B.                                        2.0
Karisma Rogano Cold--"A Gift from the Gods" in ...           2.0
Damengedeck *Kessler Pikkolo (0,2) mit Orange n...           2.0
Gluhwein oder Seehund                                        2.0
...                                                          ...
Etter Weichsel-Kirsch                                        1.0
Etter Fruchtbaum - Jubilaums Cuvee                           1.0
Ettaler Klosterliqueur                                       1.0
Ettaler Klosterlikor grun 44 Vol.%                           1.0
鹹菜大湯魚                                                        1.0

[423363 rows x 1 columns]

In [12]:
freq(dish,'description')

KeyError: ('len', 'highest_price')

In [14]:
freq(dish, 'menus_appeared')

                         len
               highest_price
menus_appeared
1                   325248.0
2                    42673.0
3                    15887.0
4                     8472.0
5                     5188.0
...                      ...
460                      1.0
461                      1.0
464                      1.0
465                      1.0
7740                     1.0

[552 rows x 1 columns]

In [15]:
freq(dish, 'times_appeared')

                         len
               highest_price
times_appeared
1                   317805.0
2                    42563.0
3                    15904.0
0                     9248.0
4                     8576.0
...                      ...
502                      1.0
503                      1.0
510                      1.0
511                      1.0
8484                     1.0

[568 rows x 1 columns]