# MenuPage
This file appears to be mostly links to external images (which might be interesting to incorporate into our data cleaning)

In [1]:
import pandas as pd

In [5]:
menupage = pd.read_csv("../raw_data/MenuPage.csv.gz", compression='gzip')

In [15]:
def freq(df, col):
    x = df.pivot_table(index=col, values='page_number', aggfunc=[len])
    print(x.sort_values(by=('len', 'page_number'), ascending = False))

In [7]:
menupage.describe()

                 id       menu_id   page_number   full_height    full_width
count  66937.000000  66937.000000  65735.000000  66608.000000  66608.000000
mean   42719.760596  25653.580904      3.759169   3859.102856   2778.588398
std    21273.997831   6158.827683      4.909050   1156.010307    970.287300
min      119.000000  12460.000000      1.000000    616.000000    558.000000
25%    27108.000000  21743.000000      1.000000   2988.000000   2120.000000
50%    43894.000000  26202.000000      2.000000   3630.000000   2527.000000
75%    60696.000000  30531.000000      4.000000   4617.250000   3295.250000
max    77431.000000  35526.000000     74.000000  12044.000000   9175.000000

In [16]:
menupage.head()

,id,menu_id,page_number,image_id,full_height,full_width,uuid
0,119,12460,1.0,1603595,7230.0,5428.0,510d47e4-2955-a3d9-e040-e00a18064a99
1,120,12460,2.0,1603596,5428.0,7230.0,510d47e4-2956-a3d9-e040-e00a18064a99
2,121,12460,3.0,1603597,7230.0,5428.0,510d47e4-2957-a3d9-e040-e00a18064a99
3,122,12460,4.0,1603598,7230.0,5428.0,510d47e4-2958-a3d9-e040-e00a18064a99
4,123,12461,1.0,1603591,7230.0,5428.0,510d47e4-2959-a3d9-e040-e00a18064a99

In [18]:
freq(menupage,'id')

              len
      page_number
id
119           1.0
55109         1.0
55111         1.0
55112         1.0
55113         1.0
...           ...
32741         1.0
32742         1.0
32743         1.0
32744         1.0
77431         1.0

[66937 rows x 1 columns]

In [19]:
freq(menupage,'menu_id')

                len
        page_number
menu_id
35170          74.0
35003          64.0
31054          62.0
29313          57.0
31230          56.0
...             ...
34111           1.0
31361           1.0
31362           1.0
31363           1.0
31053           1.0

[19816 rows x 1 columns]

In [21]:
freq(menupage,'image_id')

                       len
               page_number
image_id
4000011684             5.0
467168                 5.0
4000009594             5.0
4000009466             5.0
476268                 5.0
...                    ...
4000004822             1.0
4000004823             1.0
4000004824             1.0
4000004825             1.0
psnypl_rbk_988         1.0

[63244 rows x 1 columns]

In [22]:
freq(menupage, 'full_height')

                    len
            page_number
full_height
1500.0            333.0
2910.0            123.0
7230.0            111.0
2897.0            106.0
2906.0             93.0
...                 ...
5960.0              1.0
5962.0              1.0
5964.0              1.0
5967.0              1.0
12044.0             1.0

[5612 rows x 1 columns]

In [23]:
freq(menupage, 'full_width')

                   len
           page_number
full_width
2282.0           151.0
5428.0           147.0
2295.0           118.0
2299.0           114.0
2291.0           109.0
...                ...
5321.0             1.0
5319.0             1.0
5317.0             1.0
5315.0             1.0
9175.0             1.0

[5041 rows x 1 columns]