In [1]:
import pandas as pd

In [11]:
menu = pd.read_csv("../raw_data/Menu.csv.gz", compression='gzip')

In [60]:
def freq(df, col):
    x = df.pivot_table(index=col, values='page_count', aggfunc=[len])
    print(x.sort_values(by=('len', 'page_count'), ascending = False))

In [57]:
menu.describe()

,id,keywords,language,location_type,page_count,dish_count
count,17545.000000,0.0,0.0,0.0,17545.000000,17545.000000
mean,25325.953377,NaN,NaN,NaN,3.484412,75.617213
std,6431.552203,NaN,NaN,NaN,3.295643,98.435862
min,12463.000000,NaN,NaN,NaN,1.000000,0.000000
25%,20742.000000,NaN,NaN,NaN,2.000000,20.000000
50%,26165.000000,NaN,NaN,NaN,2.000000,35.000000
75%,30707.000000,NaN,NaN,NaN,4.000000,93.000000
max,35526.000000,NaN,NaN,NaN,74.000000,4053.000000

In [58]:
menu.head()

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",CARD; 4.75X7.5;,EASTER;,NaN,1900-2822,NaN,NaN,1900-04-15,Hotel Eastman,NaN,NaN,NaN,complete,2,67
1,12464,NaN,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",CARD; ILLUS; COL; 7.0X9.0;,EASTER;,WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...,1900-2825,NaN,NaN,1900-04-15,Republican House,NaN,NaN,NaN,under review,2,34
2,12465,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...",1900-2827,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,84
3,12466,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2828,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,63
4,12467,NaN,NORDDEUTSCHER LLOYD BREMEN,DINNER;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLU; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2829,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,33

In [61]:
freq(menu,'name')

                                                   len
                                            page_count
name
Waldorf Astoria                                    475
Hotel Astor                                        143
[Restaurant name and/or location not given]        113
The Biltmore                                        96
Healy's Forty-second Street restaurant              93
...                                                ...
Hotel St. Francis                                    1
Hotel St. Regis                                      1
Hotel Stewart                                        1
Hotel Taft                                           1
private residence of Mayor Jas. H. Preston           1

[797 rows x 1 columns]

In [62]:
freq(menu,'sponsor')

                                  len
                           page_count
sponsor
Waldorf Astoria                   691
NORDDEUTSCHER LLOYD BREMEN        476
Hotel Astor                       327
HAMBURG-AMERIKA LINIE             278
NIPPON YUSEN KAISHA               215
...                               ...
Hotel Bevan                         1
Hotel Bel-Air                       1
Hotel Beau Site                     1
Hotel Beau Rivage Luzern            1
xtYE TWILIGHT CLUB                  1

[6370 rows x 1 columns]

In [63]:
freq(menu,'event')

                                                          len
                                                   page_count
event
DINNER                                                   1827
BREAKFAST                                                 830
LUNCHEON                                                  532
LUNCH                                                     520
DAILY MENU                                                218
...                                                       ...
DINER DE LA LITERATURE FIN DE SIECLE                        1
DINER D'ADIEU                                               1
DIBNNER TO EDWARD M. GROUT                                  1
DIAMOND JUBILEE LUNCHEON TO DELEGATES                       1
DINNER TO MR. ALBERT FOSTER ON HIS RETURN FROM ...          1

[1770 rows x 1 columns]

In [64]:
freq(menu, 'venue')

                                         len
                                  page_count
venue
COMMERCIAL                              4704
SOC;                                     541
RESTAURANT                               425
PROF;                                    416
COM                                      280
...                                      ...
OTHER (PRIVATE PARTY?)                     1
OTHER (PRIVATE PARTY?);                    1
OTHER (PRIVATE PATY)                       1
OTHER (PRIVATELY HOSTED BANQUET);          1
[SOC];                                     1

[233 rows x 1 columns]

In [65]:
freq(menu, 'place')

                                        len
                                 page_count
place
EN ROUTE                                293
NEW YORK, NY                            198
EN ROUTE ABOARD HONG KONG MARU          101
?                                        84
EN ROUTE ABOARD SS. KASUGA               79
...                                     ...
King's Arms Tavern                        1
King's Inn                                1
Klein Elsass                              1
Kleines Jacob                             1
 9 W 53rd St, New York, NY 10019          1

[3714 rows x 1 columns]

In [66]:
freq(menu, 'physical_description')

                                             len
                                      page_count
physical_description
BROADSHEET; ILLUS; 6.5 X 7.75;               127
33x18cm                                      116
28x18cm folded; 28x36cm open                 109
21.5x13.5cm                                   96
21.5x14cm folded; 21.5x28cm open              85
...                                          ...
BOOKLET; PHOTOGRAPH ON COVER; 8 X 10;          1
BOOKLET; O;;IS; COL; 9.5 X 9.75;               1
BOOKLET; ILLUSTRATED; 6.75X9;                  1
BOOKLET; ILLUS;RIBBON TRIM; 6.25 X 8;          1
trifolder; 6.625 x 11.25 inches                1

[6268 rows x 1 columns]

In [67]:
freq(menu, 'occasion')

                                                len
                                         page_count
occasion
DAILY;                                          828
COMPLIMENTARY/TESTIMONIAL                       569
ANNIVERSARY;                                    557
DAILY                                           232
DAILY MENU;                                     225
...                                             ...
ANNUAL EVENT;                                     1
OTHER (DAILY MENU ON BOARD SHIP);                 1
OTHER (DAILY MENU FOR RESTAURANT CHAIN);          1
OTHER (DAILY MENU FOR HOTEL);                     1
"CONTINTENTAL DINNER"EN ROUTE;                    1

[423 rows x 1 columns]

In [68]:
freq(menu, 'notes')

                                                          len
                                                   page_count
notes
Dieter Zander Collection.                                 210
B&W PHOTOGRAPHS OF VARIOUS POINTS OF INTEREST I...        112
luncheon                                                   88
dinner                                                     88
English is secondary language                              65
...                                                       ...
GERMAN & ENGLISH; SKETCH OF ROCKY SHORELINE, TR...          1
GERMAN & ENGLISH; SHORELINE, ROCKS, WALL, STEAM...          1
GERMAN & ENGLISH; SHIPBOARD SCENE, PASSENGERS C...          1
GERMAN & ENGLISH; SEACOAST SCENE AT TOP OF MENU;            1
wine list in Swedish; Arthur H. Rumpf Menu Coll...          1

[6969 rows x 1 columns]

In [69]:
freq(menu, 'keywords')

KeyError: ('len', 'page_count')

In [70]:
freq(menu, 'language')

KeyError: ('len', 'page_count')

In [71]:
freq(menu, 'location')

                                                  len
                                           page_count
location
Waldorf Astoria                                   703
Norddeutscher Lloyd Bremen                        687
Hamburg Amerika Linie                             340
Hotel Astor                                       327
Nippon Yusen Kaisha                               266
...                                               ...
Hotel Sheraton Boston                               1
Hotel Sheraton Astor; Belvedere Room                1
Hotel Shattuck                                      1
Hotel Severin/Hotel Miami                           1
private residence of Mayor Jas. H. Preston          1

[6283 rows x 1 columns]

In [72]:
freq(menu, 'currency')

                                  len
                           page_count
currency
Dollars                          5549
Deutsche Marks                    293
Francs                            162
Canadian Dollars                   98
Swiss Francs                       47
Shillings                          40
Swedish kronor (SEK/kr)            39
Italian Lire                       28
Cents                              24
UK Pounds                          22
Belgian Francs                     20
Mexican pesos                      19
Dutch Guilders                     17
Austrian Schillings                15
Danish kroner                      14
Yen                                 9
Euros                               7
Pesetas                             7
Escudos                             5
Austro-Hungarian Kronen             5
Drachmas                            4
Hungarian forint                    4
Icelandic Krónur                    3
Norwegian kroner                    3
Israeli lirot (1948-1980)           3
Quetzales                           2
Argentine peso                      2
New Taiwan Dollar                   1
Moroccan Dirham                     1
Pence                               1
Monégasque francs                   1
Qatari riyal                        1
Lats                                1
Australian Dollars                  1
Sol                                 1
Straits dollar (1904-1939)          1
Finnish markka                      1
Cuban pesos                         1
Brazilian Cruzeiros                 1
Uruguayan pesos                     1
Bermudian dollars                   1
Złoty                               1

In [73]:
freq(menu, 'status')

                    len
             page_count
status
complete          17371
under review        174