In [3]:
import pandas as pd

In [4]:
menuitem = pd.read_csv("../raw_data/MenuItem.csv.gz", compression='gzip')

In [6]:
def freq(df, col):
    x = df.pivot_table(index=col, values='created_at', aggfunc=[len])
    print(x.sort_values(by=('len', 'created_at'), ascending = False))

In [7]:
menuitem.describe()

,id,menu_page_id,price,high_price,dish_id,xpos,ypos
count,1.332726e+06,1.332726e+06,886810.000000,91905.000000,1.332485e+06,1.332726e+06,1.332726e+06
mean,6.978984e+05,4.759487e+04,12.838627,8.106321,1.580110e+05,3.890132e-01,5.497062e-01
std,3.999807e+05,2.203921e+04,499.547387,90.095222,1.677620e+05,2.208378e-01,2.239532e-01
min,1.000000e+00,1.300000e+02,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00
25%,3.502512e+05,3.204900e+04,0.250000,0.500000,5.089000e+03,1.842860e-01,3.669165e-01
50%,7.024105e+05,5.337100e+04,0.400000,1.250000,8.070000e+04,3.771430e-01,5.672940e-01
75%,1.045549e+06,6.682300e+04,1.000000,3.000000,3.325240e+05,5.653330e-01,7.385308e-01
max,1.385906e+06,7.742500e+04,180000.000000,7800.000000,5.156770e+05,9.853330e-01,9.982300e-01

In [5]:
menuitem.head()

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1.0,2011-03-28 15:00:44 UTC,2011-04-19 04:33:15 UTC,0.111429,0.254735
1,2,1389,0.6,NaN,2.0,2011-03-28 15:01:13 UTC,2011-04-19 15:00:54 UTC,0.438571,0.254735
2,3,1389,0.4,NaN,3.0,2011-03-28 15:01:40 UTC,2011-04-19 19:10:05 UTC,0.140000,0.261922
3,4,1389,0.5,NaN,4.0,2011-03-28 15:01:51 UTC,2011-04-19 19:07:01 UTC,0.377143,0.262720
4,5,3079,0.5,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178

In [8]:
freq(menuitem,'id')

               len
        created_at
id
1                1
931884           1
931903           1
931902           1
931901           1
...            ...
465641           1
465640           1
465639           1
465638           1
1385906          1

[1332726 rows x 1 columns]

In [9]:
freq(menuitem,'menu_page_id')

                    len
             created_at
menu_page_id
46514               425
69103               400
67104               397
57170               383
67190               378
...                 ...
17861                 1
17862                 1
17863                 1
17864                 1
71060                 1

[26590 rows x 1 columns]

In [10]:
freq(menuitem,'price')

              len
       created_at
price
0.25        90502
0.30        65335
0.15        64304
0.20        62412
0.40        58449
...           ...
13.96           1
224.00          1
221.00          1
14.65           1
18.30           1

[1336 rows x 1 columns]

In [11]:
freq(menuitem, 'high_price')

                  len
           created_at
high_price
0.40             6734
1.50             5327
1.00             5053
2.00             4888
0.50             4758
...               ...
76.79               1
10.90               1
79.00               1
10.85               1
15.70               1

[671 rows x 1 columns]

In [12]:
freq(menuitem, 'dish_id')

                len
         created_at
dish_id
96.0           8484
97.0           4769
15.0           4690
1177.0         4555
7.0            3346
...             ...
218354.0          1
218353.0          1
218352.0          1
218351.0          1
515677.0          1

[414138 rows x 1 columns]